
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .form-box{
        border:1px solid #c1c1c1;
        color:#e4e4e4;}
        fieldset {
            border:1px solid #160b0be7;
            padding-top: 2%;
            padding-left: 2%;
            padding-bottom: 2%;
            padding-right: 2%;
        }
    hr{
        border:1px solid #160b0be7;  
    }
    .errors{
        color: red;
    }
    table{
                 border: 1px solid black;
                  width:100%;
                  border-collapse: collapse;
                }
                td,th{
                    border: 1px solid black;
                 
                  border-collapse: collapse;
                }
                .blank_row
    {
        height: 60px !important;
    }
        </style>
    </head>
    <body>

        <div class="container">
        <h3>Registration Form </h3>
        <hr>
        <div class="container">
            <form [formGroup]="registerForm" (ngSubmit)="saveregistervalues()">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">
                           <label class="col-sm-2 col-form-label">
                              Firstname:
                            </label>
                            <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="firstName">
                                        <div class="errors" *ngIf="register('firstName')">
                      <div *ngIf="f.firstName.errors.required">Firstname is required</div>
                      <div *ngIf="f.firstName.errors.pattern">Firstname should be in Alphabets
                      </div>
                    </div>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-2 col-form-label">
                                        Lastname:
                                        </label>
                                      <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="lastName">
                                         <div class="errors"*ngIf="register('lastName')">
                      <div *ngIf="f.lastName.errors.required">Lastname is required</div>
                      <div *ngIf="f.lastName.errors.pattern">Lastname should be in Alphabets</div>
                    </div>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">
                                          Email:
                                          </label>
                                        <div class="col-sm-10">
                                          <input type="email" class="form-control" formControlName="emailAddress">
                                          <div class="errors" *ngIf="register('emailAddress')">
                      <div *ngIf="f.emailAddress.errors.required">Emailaddress is required</div>
                      <div *ngIf="f.emailAddress.errors.email">Emailaddress should be in @</div>
                    </div>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">
                                          Dob:
                                          </label>
                                        <div class="col-sm-10">
                                          <input type="date" class="form-control" formControlName="dob">
                                           <div class="errors" *ngIf="register('dob')">
                      <div *ngIf="f.dob.errors.required">Date Of Birth is required</div>
                    </div>
                                        </div>
                                      </div>
                                       
                                      
                                   
                                  
                            </div>
            
                            <div class="col-lg-6">
                                <div class="form-group row">
                                  <label class="col-sm-2 col-form-label">
                                      Address:
                                    </label>
                                  <div class="col-sm-10">
                                    <textarea type="text" class="form-control" formControlName="address">
                                    </textarea>
                                     <div class="errors" *ngIf="register('address')">
                      <div *ngIf="f.address.errors.required">Address is required</div>
                    </div>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-sm-2 col-form-label">
                                      Country:
                                  </label>
                                  <div class="col-sm-10">
                                    <select class="form" formControlName="country" >
                                      <option [value]="country" *ngFor="let country of countries">{{country}}</option>
                                      
                                    </select>
                                     <div class="errors" *ngIf="register('country')">
                      <div *ngIf="f.country.errors.required">Country is required</div>
                    </div>
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">
                                        State:
                                    </label>
                                    <div class="col-sm-10">
                                      <select class="form" formControlName="state">
                                      <option [value]="state" *ngFor="let state of states">{{state}}</option>
                                      
                                      </select>
                                      <div class="errors" *ngIf="register('state')">
                      <div *ngIf="f.state.errors.required">State is required</div>
                    </div>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">
                                      Zip:
                                      </label>
                                    <div class="col-sm-10">
                                      <input type="number" class="form-control" formControlName="zip">
                                       <div class="errors" *ngIf="register('zip')">
                      <div *ngIf="f.zip.errors.required">Zipcode is required</div>
                      <div *ngIf="f.zip.errors.pattern">Zipcode should be 6 digits</div>
                    </div>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <button type="button" (click)="onRegisterReset()">RESET</button>
                                    <button type="submit">SAVE</button>
                                  </div>
                            </div>
            
                        </div>
                    </form>
    </div>
    <div>
    <div class="col-lg-6" >
        <h5>Registered Users</h5> 
        </div>
        <div class="col-lg-6" >
            <button value="deletselected" (click)="delete()">DleteSelected</button>
        </div>
    </div>
        <div class="container">
        <table class="container">
        
            <thead>
                <tr>
                    <th><input type="checkbox" class ="checkAll" name="list" [(ngModel)]="isMasterSel" (change)="checkUncheckAll()"></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>DOB</th>
                    <th>Phones</th>
                    <th>Address</th>
                    <th>Action</th>
                    </tr> </thead>
            <tbody *ngFor="let formval of getformvalues; index as i"> 
                <tr>
                    <td><input type="checkbox" class="checkbox" name="list" [(ngModel)]="formval.isSelected" (change) ="selectID(i,formval)"></td>
                    <td>{{formval.firstName}} {{formval.lastName}}</td>
                    <td>{{formval.emailAddress}}</td>
                    <td>{{formval.dob}}</td>
                    <td>{{formval.phoneNumber}}</td>
                    <td>{{formval.address}}</td>
                    <td>
                        <i class="fa fa-trash" (click)="deleterow(i,formval)"></i>
                    </td>

                </tr>
                    </tbody>
           
        
    </table>
</div>
</div>
    </body>
</html>